
.product-detail-main {
    display: flex;
    flex-direction: row;
    margin: 47px 165px 114px 165px;
}

.product-detail-image-container {
    width: 528px;
    height: 396px;
    flex-shrink: 0;
    
}
.product-detail-image {
    width: 528px;
    height: 396px;
    background: url("../../images/image.png"), rgb(244, 244, 244) 20% / cover no-repeat;
}

.product-advertising-slogan {
    width: 540px;
    height: 110px;
    flex-shrink: 0;
    color: var(--black, #272727);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px; /* 116.364% */
    letter-spacing: -0.7px;
    margin-top: 20px;
}

#product-advertising-slogan-icon {
    color: #1D252C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: -0.9px;
}

#shipping-text {
    color: var(--green, #56B280);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.6px;
    letter-spacing: -0.9px;
}

.product-detail-right {
    margin-left: 20px;
}

.product-detail-title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--black, #272727);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.6px; /* 221.538% */
    letter-spacing: -0.9px;
    margin-block-start: 0px;
}
.price-quantity-container {
    display: flex;
    flex-direction: column;
}
.product-detail-input-container {
    display: flex;
    flex-direction: row;
}

.product-detail-number-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    height: 150px;
}

.product-detail-number-input input{
    width: 58px;
    height: 25px;
    flex-shrink: 0;
}



.product-detail-price {
    margin-top: 2px;
    display: inline-block;
    color: var(--green, #56B280);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 57.6px; /* 221.538% */
    letter-spacing: -0.9px;
}

.first-checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}
.first-checkbox label {
    padding-left: 20px;
    color: var(--black, #272727);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px; /* 97.5% */
    letter-spacing: -0.9px;
}

.second-checkbox {
    padding: 18px 10px 18px 20px;
    background: #FFF;
    border-radius: 7px;
    border: 1px solid #d4d2d2;
    width: 350px;
    height: 80px;
    flex-shrink: 0;
    
}
.second-checkbox label {
    color: var(--black, #272727);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px; /* 97.5% */
    letter-spacing: -0.9px;
}

.radio-button-description {
    flex-shrink: 0;
    color: #818181;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px; /* 97.5% */
    margin-bottom: 0px;
}

#see-details {
    color: var(--green, #56B280);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.6px;
    text-decoration: none;
}

.product-detail-add-to-cart-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.product-detail-add-to-cart-container img {
    width: 24.138px;
    height: 24px;
    flex-shrink: 0;
}
.product-detail-add-to-cart-container span {
    width: 124px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-detail-add-to-cart-button {
    display: flex;
    width: 350px;
    height: 42px;
    padding: 8px 44px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--green, #56B280);
}

.product-detail-description {
    text-align:left;
    width: 560px;
    height: 131px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #E6E6E6;
    padding: 10px;
    color: #849A8E;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 40px;
}
.product-detail-description span {
    color: #1D252C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px; /* 160% */
}